.lead {
color: white;
font-family: "Courier New";
font-size: small
}

.jumbotron {
padding: 20px 15em 120px 15em;
 height: 100vh;
text-align: center;
    background-color: #34626c;
color: white;
font-family: "Courier New"
}

a {
  color: hotpink;
}
